
<div class="box_pic" id="box_pic1">
  <img class="big_pic" src="https://s3.eu-central-1.amazonaws.com/papiermanufaktur/DPM_Logo+Design_FA-01.png">
  <h3></h3>
</div>


    <div class="brand-logo-box">
      <img class="brand-logo img img-circle" src="https://s3.eu-central-1.amazonaws.com/papiermanufaktur/DPM_Logo+Design_FA-03.png">
    </div>

<div class="container">




<div class="borderly">

<nav>
  <div class="row nav">
      <div class="col-sm-4" id="">

      </div>


  </div>
</nav>

  <section class="landing-registration">
      <%= render 'landing_slider' %>
  </section>


</div>


</div>

