



<div class="container">

<nav>
  <div class="row nav">
    <div class="col-sm-6 brand-logo-box">
      <img class="brand-logo img img-circle" src="https://s3.eu-central-1.amazonaws.com/papiermanufaktur/DPM_Logo+Design_FA-03.png">
    </div>
    <div class="col-sm-6" id="">






    </div>
  </div>
</nav>

  <section class="landing-registration">
      <%= render 'landing_slider' %>
  </section>





</div>

