


body {
  background-image: url(https://s3.eu-central-1.amazonaws.com/papiermanufaktur/bg/pattern_mini1_200.png);
}

.container {
  max-width: 790px !important;

}

.borderly {
  border: 30px solid white;
  margin-top: 30px;
}

.landing-registration {
  background-color: white;
  height:515px;
  margin-top: -60px;
  padding: 0px;
}

.open_slideshow {

}

  .hidden_gallery {
    display: none;
  }

@media(max-width: 768px) {
  .landing-registration {
    height: 515px;
    margin-top: -120px;
  }

  .open_slideshow {
    margin-top: 110px;
  }



}

.brand-logo {
  width: 130px;
  padding: 15px;
  background-color: white;
  margin-top: 60px;
  z-index: 100000;
  position: relative;
}

.brand-logo-box {


}


.gallery-container {
  position:relative;
  background: white;
  width:100%;
  height:515px;
  padding: 0px 30px;
}







.my-simple-gallery {
  width: 100%;
  float: left;
}
.my-simple-gallery img {
  width: 100%;
  height: auto;
}
.my-simple-gallery figure {

  padding: 15px;

}
.my-simple-gallery figcaption {
  display: none;
}
